:root {
    --green: #c3e2c2;
    --beige: #eaeccc;
    --yellow: #dbcc95;
    --red: #cd8d7a;
    --light: #fff9f5;
    --dark: #333333;
  }
  
  html {
    font-family: "Major Mono Display", monospace;
  }
  
  nav {
    width: 100vw;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  svg {
    width: 2rem;
  }
  
  .logo-area {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .book-add-menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s cubic-bezier(0.33, 0.06, 0.48, 1.53);
    transform: translateX(55vw);
  }
  
  input {
    border: transparent;
    border-radius: 30px;
    text-align: center;
  }
  
  input[type="submit"],
  button {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin: 0 2rem;
    text-wrap: wrap;
    border: 4px solid var(--beige);
    background-color: var(--yellow);
    font-family: monospace;
    font-size: 20px;
    font-weight: 300;
  }
  
  input[type="number"] {
    width: 3rem;
  }
  
  body {
    margin: 0;
    background-color: var(--light);
    overflow-x: hidden;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #dbcc95, #dbcc95 1px, #e5e5f7 1px, #e5e5f7);
  }
  
  .book {
    border: 1rem solid var(--red);
    border-radius: 20px;
    padding: 1rem;
    transition: 0.5s
  }
  
  .book > button {
    width: 80%;
    border: 5px solid var(--dark);
    border-radius: 20px;
    margin-top: 2rem;
  }
  
  .library-area {
    width: 90vw;
    margin: 1rem auto;
    padding: 2rem;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1rem solid var(--dark);
    border-radius: 20px;
    transition: 1s;
  }
  
  .box-checked {
    border: 1rem solid var(--beige);
  }